[template]
src = "bird.cfg.no-mesh.template"
dest = "/etc/calico/confd/config/bird.cfg"
prefix = "/calico/bgp/v1"
keys = [
    "/host/{{getenv "NODENAME"}}",
    "/global",
    "/reflector/host",
    "/subnet/host",
    "/subnet/reflector/host",
]
check_cmd = "bird -p -c {{"{{"}}.src{{"}}"}}"
reload_cmd = "pkill -HUP bird || true"
