[template]
src = "bird.cfg.{{if (json (getv "/node_mesh")).enabled}}mesh{{else}}no-mesh{{end}}.template"
dest = "/etc/calico/confd/config/bird.cfg"
prefix = "/calico"
keys = [
    "/bgp/v1/{{if (json (getv "/node_mesh")).enabled}}host{{else}}host/{{getenv "NODENAME"}}{{end}}",
    "/bgp/v1/global",
    "/v1/ipam/v4/pool"
]
check_cmd = "bird -p -c {{"{{"}}.src{{"}}"}}"
reload_cmd = "pkill -HUP bird || true"
